* {
    font-family:monospace;
}

body {
    background:linear-gradient(blue, white);
    background-repeat: no-repeat;
}

.app-container h1 {
    font-size: 45px;
}
p {
    font-size: 28px;
}

button {
    font-size: large;
    width: 70px;
    height: 30px;
}

.search-engine {
    text-align: center;
}

.search-container .title-input {
    height: 30px;
    width: 250px;
    margin-bottom: 30px;
    font-size: large;
}

.search-container .year-input {
    height: 30px;
    width: 50px;
    margin-bottom: 30px;
    font-size: large;
    text-align: center;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-container img {
    margin-right: 10px;
    width: 300px;
    height: 450px;
}

.result-container img:hover, .movie-page-container img  {
    border: solid 5px black;
    box-sizing: border-box;
}
.result-container {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.movie-page-container {
    display: flex;
    padding: 30px;
}

.movie-page-container h1 {
    font-size: 35px;
}

.info-container {
    padding: 10px
}

.result-container h3 {
    font-size: 20px;
}

@media screen and (max-width: 651px) {
    .movie-page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }}